.cuadro{
    border: 1px solid #000;
    margin: 5%;
    height: 40vh;
    width: 15%;
    display: inline-block;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cuadro:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.cuadrotitle{
    margin-top: 8%;
    color: #fff;
}
.cuadroimg{
    width: 80%;
    height: 80%;
    opacity: 0.4;
}
.tituloimg{
    color: #fff;
    z-index: 1;
    position: absolute;
    margin-top: 7%;
    margin-left: 45px;
}